* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
h2 {
    color: #F95700FF;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
}

table td, th {
    border: 1px solid #ff1b1b;
    padding: 6px 20px;
    cursor: pointer;
    text-transform: capitalize;
}
form {
    background: #F95700FF;
    width: 90%;
    margin: auto;
    max-width: 600px;
    padding: 37px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
button {
    border: none;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    width:  20%;
}
h4 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}
.container{
    width: 90%;
    max-width: 1200px;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.row {
    display: flex;
    align-items: center;
    position: relative;
}

.column {
    flex-basis: 50%;
    padding-left: 20px;
}
.form-filed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.form-filed input[type='text'] {
    border: none;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    width: 35%;
}

.form-filed label {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 18px;
    width: 35%;
}
section.modal-section {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modal {
    background: #8080802e;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-wrapper {
    box-shadow: 0px 0px 5px -2px #333;
    border-radius: 8px;
    padding: 20px 0px;
    background-color: #fff;
    max-width: 800px;
}
.add-worker {
    display: none;
}
.profile {
    display: none;
}
.active-modal {
    display:  block !important;
}

h3.name {
    margin-top: 20px;
}
.mobile {
    margin-bottom: 50px;
}

.close-btn {
    position: absolute;
    top: 2%;
    right: 50px;
    font-size: 22px;
    cursor: pointer;
}
textarea#address {
    outline: none;
    border: none;
    width: 200px;
    height: 58px;
    border-radius: 8px;
}
p.error {
    background: #ef0101;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
button.open-add-worker-form {
    width: auto;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 0%;
}
.form-head {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 41px;
    border-bottom: 1px solid #fff;
}